:root {
    --primary-h: 132px;
    --bottom-spacing: 8px;
}

html, body {
    margin: 0;
}

body {
    /* bodyにpadding-bottomを設定して、スクロールの終端でフッターにコンテンツが隠れないようにする */
    padding-bottom: var(--primary-h);
}

.main-section {
    background-color: white;
    box-sizing: border-box;
    
    /* ターンテーブルを中央に配置 */
    display: flex;
    flex-direction: column; /* コンテンツが複数ある場合を想定 */
    justify-content: center;
    align-items: center;

    /* 画面いっぱいに広がるように最低限の高さを設定 */
    /* これでコンテンツが少なくてもターンテーブルが中央に来る */
    min-height: calc(100vh - var(--primary-h));
    
    /* paddingで上下左右の余白を確保 */
    padding: var(--bottom-spacing);
}

.primary-section {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--primary-h);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-align: center;
    z-index: 1000;
}

button {
    box-sizing: border-box;
    display: inline-block;
    max-width: 100%;
    width: auto;
    padding: 0.6rem 1rem;
    font-size: 2rem;
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "Courier Prime", monospace;
}

.container {
    padding: 0 1rem;
}

@media (max-width: 480px) {
    button {
        font-size: 3rem;
        padding: 0.4rem 0.8rem;
    }
}