:root {
    --primary-h: 132px;
}
@font-face {
    font-family: 'POPFUN EXTRUDE';
    src: url('../fonts/POPFUN Extrude.otf') format('opentype');
    src: url('../fonts/POPFUN Extrude.woff') format('woff');
    src: url('../fonts/POPFUN Extrude.woff2') format('woff2');
}
html body{
    margin: 0;
    font-family: "M PLUS 1p", sans-serif
}
a {
    font-weight: 900;
    color: black;
}

.header {
    max-width: 500px;
    width: 80vw;
}
.logo-wrapper {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 1rem;
}
.logo-icon {
    width: clamp(6px, 30vw, 172px);
}
.logo-text {
    font-family: "POPFUN EXTRUDE";
    font-size: clamp(12px, 26vw, 172px);
    background: url(../img/bg.png) repeat-x;
    background-size: 300px 200px;
    animation:
            fadeToTransparent 4s ease forwards,
            slide 20s linear infinite;
    -webkit-background-clip: text;
    background-clip: text;
    color: black;
    margin: 0;
    letter-spacing: 0.4vw;
}
@keyframes fadeToTransparent {
    to {
        color: transparent;
    }
}
@keyframes slide {
    0% { background-position: 0 0; }
    100% { background-position: 300px 0; }
}

.home-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
}

.main-section {
    background-color: white;
    box-sizing: border-box;

    min-height: 100vh;

}

button {
    box-sizing: border-box;
    display: inline-block;
    max-width: 100%;
    width: auto;
    padding: 0.6rem 1rem;
    margin: 5px 1px 0 0;
    font-size: 2rem;
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "Courier Prime", monospace;
    color: black;
    text-decoration: none;
    box-shadow: 0 5px 0 0 black;
    transition: all 0.1s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
button:hover {
    box-shadow: 0 6px 0 0 black;
    transform: translateY(-1px);
}
button:active {
    box-shadow: none;
    transform: translateY(5px);
}

.container {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (max-width: 480px) {
    button {
        font-size: 2.5rem;
        padding: 0.4rem 0.8rem;
    }
}
